body {
    margin: 0;
    padding: 0px 1%;
    width: auto;
    height: auto;
    background-color: #F8F8FF;
}
.content {
    border-color: #A9A9A9;
    border-width: 1px;
    border-style: solid;
    border-top-width: none;
    border-bottom-width: none;
    box-shadow: -5px 0px 10px rgba(0,0,0,0.5),
    5px 0px 10px rgba(0,0,0,0.5);
    height: 100%;
}
header {
    width: auto;
    height: 40px;
    background: #ece3e3;
    box-sizing: border-box;
    padding: 5px 10px;
}
.header-menu {
    width: auto;
    height: auto;
    background: #ece3e3;
    border-top: 1px solid #A9A9A9;
    box-sizing: border-box;
}
.menu {
    height: 50px;
    width: 90%;
    background-color: #FF4500;
    border-radius: 10px;
    vertical-align: middle;
    box-sizing: border-box;
}
.menu span {
    border-right: 1px solid gray;
    box-shadow: 1px 1px #A9A9A9;
    height: 100%;
    display: inline-block;
}
.scroll-up {
    position: fixed;
    z-index: 1;
    bottom: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    background: #696969;
    border-radius: 50%;
    line-height: 3;
}
.scroll-up:hover {
    background: #D3D3D3;
}
a:not(a.border-none) {
    color: #808080;
    font-weight: 500;
    padding-right: 1%;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-right: 1%;
    border-right: 1px solid #808080;
}
a:hover:not(a.border-none) {
    color: #FF4500;
    border-right: 1px solid #FF4500;
}
a:last-child {
    border: none;
}
form {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
input {
    display: inline-block;
    height: 40px;
}
a.border-none{ 
    border-style: none;
    text-decoration: none;
}
.share {
    display: inline-block;
    width: 200px;
}

li {
    display: none;

}
ul:hover li {
    display: block;
}
ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.margin-left {
    margin-left: auto;
}
.margin-right {
    margin-right: auto;
}
a img {
    margin-left: 5px;
}
.category {
    padding-right: 10px;
}
footer {
    width: auto;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 1%;
    right: 1%;
    background-color: #ece3e3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}